{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Accueil</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="{% static 'css/accueil.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-md" style="background-color:#FBFCFC; position: fixed; width: 100%; top: 0;">

    <div class="container" id="nav">
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4">
              <a class = "btn" href = "{% url 'Meteo:accueil' %}">
                Accueil
              </a>
            </div>
            <div class="col-md-4">
              <a class = "btn" href = "{% url 'Meteo:about' %}">
                About
              </a>
            </div>          
            <div class="col-md-4">
              <a class = "btn" href = "{% url 'Meteo:contact' %}">
                Contact
              </a>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </nav>
  
  <div class = "container-fluid" id = "introduction">

    <h1>Bienvenue sur Dany Meteo</h1>     
    <br><br><br><br>
    <p>Découvrez les prévisions météo locales et des conseils pratiques pour comprendre les tendances climatiques.</p>
    <br><br><br><br>
    <a href="#main_div">Commençons</a>    
  </div>

  <div class = "container" id="img5">
    <img src="{% static 'img/img5.jpeg' %}">
  </div>
  
  <div class="container-fluid" id="div2">
    <div class="writen">
      <h2>Avantages de consulter Dany Méteo</h2> <br>
      <p>Acdéder à des informations météo prédises pour planifier vos activités quotidiennes en toute confiance.</p>
      <a href="">En savoir plus</a>
    </div>

    <div class="figure">
      <img src="{% static 'img/img3.jpg' %}">

      <span class="under_figure">
        <img src="{% img/neige.png" id="icon1">
        <h3>1.245</h3><br>
        <p>Prédictions météo exacte ce mois-ci</p>
      </span>
    </div>
  </div>
  
  <div class = "container" id="parent_main_div">
    <div class = "row">
      <div class = "col-md-4"></div>
      <div class = "col-md-4" id = "main_div">
        <p id="response"></p>
        <input type="text" placeholder="Ville" id="input">
        <br><br>
        <button id = "btn">Valider</button>
      </div>
      <div class = "col-md-4"></div>
    </div>
  </div> 

  <div class = "container" id = "div3">
    <h3>
      Explorez les Ressources Météo Locales
    </h3><br><br>
    <p>
      Restez informé avec nos prévisions locales détaillées et nos conseils pratiques.<br>Ne manquez pas les dernières tendances climatiques pour mieux planifier vos projets.
    </p>

    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'img/img2.jpg' %}" alt="">
      </div>
      <div class="col-md-4">
        <img src="{% static 'img/img1.jpg' %}" alt="">
      </div>
      <div class="col-md-4">
        <img src="{% static 'img/img4.jpeg' %}" alt="">
      </div>
    </div>
  </div>
 
  <footer>
    <div class="container-fluid text-center">
      <p1>
        <br><br><br>
        Copyright &copy; 2024 Dany Meteo. Tous droits réservés.
      </p1>
    </div>
  </footer>
   
  <script src="{% static 'js/Accueil.js' %}" type = module></script>
</body>

</html>