html {
  height: 100%;
  width: 100%;
}


footer{
  background-color: black;
  color: white
}

.container{
  margin-top: 10em;
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
  text-align: center;
  margin-bottom: 15em;
}

.form{
  margin: 2em;
  padding: 2em;
}

button{
  background-color: #5eed8d;
  text-align: center;
  border : none;
  border-radius: 30px;
  width : 9rem;
  height: 50px;
}



@media (min-width: 350px){

  footer{
    margin-top: 30%;
  }
  .container{
    margin-top: 30%;
  };
  
}