{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Meteo/Accueil</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/Accueil.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-md" style="background-color:#FBFCFC;">
    <img src = "{% static 'image/ciel-clair.png' %}" style = "width:50px; height:50px; margin-right: 2em; margin-left: 10%;">
    
    <div class="btn-toolbar" style = "margin-left: 30%;">
      <a class = "btn" href = "{% url 'Meteo:accueil' %}">
        Accueil
      </a>
      <a class = "btn" href = "{% url 'Meteo:about' %}">
        About
      </a>
      <a class = "btn" href = "{% url 'Meteo:contact' %}">
        Contacts
      </a>
    </div>
  </nav>

  <div class = "row">
    <div class = "col-md-6" id="div_h3">
      <h3>
        Préparez-vous à affronter chaque journée avec Dany Meteo, votre partenaire pour des prévisions météorologiques exactes.
      </h3>
    </div>

    <div class = "col-md-4">
    </div>

    <div class = "col-md-2">
      <img src="{% static 'image/soleil.png' %}" class="rounded float-end">
    </div>
     
  </div>

  <div class = "row" id="div_princ">

    <div class = "col-md-4"></div>

    <div class = "col-md-4" id="aff">

      <div class="row">
        <div class="col-sm-2"></div>
        
        <div class="col-sm-8">
          
          <div class = "container">
            
            <p>
              Message météo
            </p>
          </div>

          <div class = "container">
            <input placeholder="votre ville" class="form-control" style="text-align: center;">
          </div>

          <div class="btn-group">
            <button class="btn-success">Submit</button>
          </div>
        </div>
        
        <div class="col-sm-2"></div>
        
      </div>
    </div>

    <div class = "col-md-4"></div>
    
  </div

    
  <div class="container-fluid">
    <div class="row" id="row_vid">
      <div class="col-md-2"></div

      <div class="col-md-8">
        <div class = "row justifiy-content-center">
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <video autoplay loop>
                <source src="{% static 'video/soleil.mp4' %}" type="video/mp4">
              </video>
              <div class="card-body">
                <p class="card-text">Ciel dégagé et ensoleillé toute la journée. Profitez d'une belle journée lumineuse avec des températures agréables.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <video autoplay loop>
                <source src="{% static 'video/nuage.mp4' %}" type="video/mp4">
              </video>
              <div class="card-body">
                <p class="card-text">Temps froid et neigeux à prévoir. Des flocons de neige sont attendus dans l'après-midi, avec une baisse notable des températures.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <video autoplay loop>
                <source src="{% static 'video/meteo.mp4' %}" type="video/mp4">
              </video>
              <div class="card-body">
                <p class="card-text">Ciel partiellement nuageux avec des averses intermittentes. Attendez-vous à quelques éclaircies entre les épisodes pluvieux.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2"></div>

    </div>
    
  </div>

  
  <footer>
    <div class="container-fluid text-center" style="margin-top: 2em; width: 100%; height: 10em;">
      <p1>
        <br><br><br>
        Copyright &copy; 2024 Dany Meteo. Tous droits réservés.
      </p1>
    </div>
  </footer>
  
  <script src="Accueil.js"></script>
</body>

</html>